@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: rgba(254, 254, 255, 0.928);
}

main {
  padding: 0 8.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem 2rem;
}
.navbar .logo {
  font-size: 2rem;
}
.navbar .nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}
.navbar .nav-links a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
  transition: color 0.3s ease;
}
.navbar .hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navbar .hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 3px;
}

.title-container h2 {
  font-size: 72px;
  font-weight: 500;
}

/* hero section */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
}
#hero h1 {
  font-size: 3.25rem;
  font-weight: 400;
  padding: 0 5rem;
  text-align: center;
}

.section .container .cell {
  padding: 2px 10px 2px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .container .cell-2-1 {
  grid-column: 2;
  grid-row: 1;
}
.section .container .cell-3-2 {
  grid-column: 3;
  grid-row: 2;
}
.section .container .cell-3-3 {
  grid-column: 2;
  grid-row: 3;
}

/* about section */
.about {
  min-height: 110vh;
}
.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

/* work section */
.work {
  margin-bottom: 200px;
}
.work .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 100px;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.work .container .cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.work .container .cell .company-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.work .container .cell .company-description .description {
  font-size: 14px;
  color: rgb(150, 150, 150);
}
.work .container .cell .company-description .date {
  font-size: 14px;
}
.work .container .cell .company-description .position {
  font-size: 35px;
  font-weight: 500;
}
.work .container .cell .company-logo {
  display: flex;
  align-items: center;
  gap: 7.5px;
}
.work .container .cell .company-logo .name {
  width: 500px;
  font-size: 14px;
  color: rgb(150, 150, 150);
}
.work .container .cell .company-logo img {
  width: 40px;
}

.projects {
  margin-bottom: 200px;
}
.projects .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 40px;
}
.projects .container .project-box {
  border: 1px solid #969696;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.projects .container .project-box h3 {
  font-size: 24px;
  font-weight: 500;
}
.projects .container .project-box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.projects .container .project-box ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #969696;
}

.contact {
  margin-bottom: 200px;
}
.contact .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
.contact .container .cell-2-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}
.contact .container .cell-2-1 .pulse {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #969696;
}
.contact .container .cell-2-1 .pulse .loader {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #69ffa8;
  animation: 1.5s pulse infinite ease-in-out;
}
.contact .container .cell-2-1 a {
  color: #fff;
}
.contact .container .cell-2-1 ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 14px;
}
.contact .container .cell-2-1 ul a {
  color: #969696;
  text-decoration: none;
  font-weight: 300;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #69ffa8;
  }
  100% {
    box-shadow: 0 0 0 14px rgba(105, 255, 168, 0);
  }
}

.notification {
  width: 100%;
  z-index: 999;
}
.notification .notification-container {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 10px 13px;
  font-size: 16px;
  color: #000;
  transition: top 0.5s ease-in-out;
  box-shadow: 0px 10px 30px rgb(0, 0, 0);
}
.notification .notification-container .notification-container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  background: rgb(0, 0, 0);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}
.notification .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.notification .top .top-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.notification .top .top-left img {
  width: 25px;
  height: 25px;
}
.notification .top .top-left span {
  font-size: 14px;
  color: rgb(79, 79, 79);
}
.notification .bottom {
  display: flex;
  flex-direction: column;
}
.notification .bottom .name {
  font-weight: 600;
}
.notification .notification-container.show {
  top: 25px;
}

/* Mobile view */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    transition: 0.3s;
    gap: 1.5rem;
  }
  .nav-links.active {
    left: 0;
  }
  .hamburger {
    display: flex;
  }
  .right-section {
    display: none;
  }
}/*# sourceMappingURL=minimalist.css.map */